body {
    background-color: purple;
}

.dropdown-toggle img {
    width: 40%;
}

.dropdown-menu img {
    width: 20%;
}

.signupForm {
    display: none;
}

.codigotexto {
    display: none;
    background-color: #b6b6b6;
}

.verifyform {
    display: none;
}

.signupform2 {
    display: none;
}

#finalscreen {
    display: none;
}

#btn-next {
    background-color: #DF0088;
    color: black;
}

#btn-next:disabled {
    background-color: #b6b6b6;
    color: gray;
}

#btn-nextver {
    background-color: #DF0088;
    color: black;
}

#btn-nextver:disabled {
    background-color: #b6b6b6;
    color: gray;
}

#btn-nextsign {
    background-color: #DF0088;
    color: black;
}

#btn-nextsign:disabled {
    background-color: #b6b6b6;
    color: gray;
}